.souligné
{
    text-decoration:underline  ;
    
}
.souligné1
{
    text-decoration:underline  ;
}

.souligné2
{
    text-decoration:underline  ;
}
.souligné3
{
    text-decoration:underline  ;
}

.souligné4
{
    text-decoration:underline  ;
}

